$brandColor: darkorchid;

body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom,
    $brandColor,
    darken($brandColor, 15%)
  );
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
.btn
{
  border:"solid" "red";
  border-radius:6px;
  padding:10px;
  margin:8px;
  background-color:"red";
}
.btn-headline
{
  background-color:"red";
  color:blue;
}